#back-top {
	position: fixed;
	bottom: 30px; /* отступ кнопки снизу */
	margin-left: -150px; /* отступ кнопки слева (для указания отступа справа 
используйте margin-right) */
}
 
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #64675a;
}
 

#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #b8b08e url(up-arrow.png) no-repeat center center; 

 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
 

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
 
}
#back-top a:hover span {
	background-color: #64675a;
}